<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Curiosity</string>
		<key>mass</key>
		<real>0.2</real>
		<key>jumpXMovementConstant</key>
		<integer>2</integer>
		<key>torqueConstant</key>
		<real>7</real>
		<key>jumpConstant</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Excite</string>
		<key>mass</key>
		<real>0.2</real>
		<key>jumpXMovementConstant</key>
		<integer>2</integer>
		<key>torqueConstant</key>
		<real>7</real>
		<key>jumpConstant</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Anx</string>
		<key>mass</key>
		<real>0.2</real>
		<key>jumpXMovementConstant</key>
		<integer>2</integer>
		<key>torqueConstant</key>
		<real>7</real>
		<key>jumpConstant</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Adam</string>
		<key>mass</key>
		<real>0.2</real>
		<key>jumpXMovementConstant</key>
		<integer>2</integer>
		<key>torqueConstant</key>
		<real>7</real>
		<key>jumpConstant</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Amora</string>
		<key>mass</key>
		<real>0.2</real>
		<key>jumpXMovementConstant</key>
		<integer>2</integer>
		<key>torqueConstant</key>
		<real>7</real>
		<key>jumpConstant</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Pragma</string>
		<key>mass</key>
		<real>0.2</real>
		<key>jumpXMovementConstant</key>
		<integer>2</integer>
		<key>torqueConstant</key>
		<real>7</real>
		<key>jumpConstant</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Uto</string>
		<key>mass</key>
		<real>0.2</real>
		<key>jumpXMovementConstant</key>
		<integer>2</integer>
		<key>torqueConstant</key>
		<real>7</real>
		<key>jumpConstant</key>
		<integer>150</integer>
	</dict>
</array>
</plist>
